.colID {
    display: none;
}

.grid {
    min-width: 90%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: none;
}


.grid tr:nth-child(even){
    background-color: #b2ffdd;
}

.grid tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.grid td {
    padding: 10px;
    font-size: 125%;
}


.pgr {
    background: linear-gradient(90deg, #4CB8C4 0%, #3CD3AD 100%);   
}

.pgr a {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 75%;
 }

.header {
    height: 50px;
    background: linear-gradient(90deg, #4CB8C4 0%, #3CD3AD 100%);
    font-size: 200%;       
}

#buscador {
    margin-left: 300px;
}

.btn {
    width: 150px;
    height: 50px;
    padding: 0;
    font-size: 125%;
    border: solid black 2px;
}

.txtB {
    width: 1000px;
    height: 50px;
    padding: 0;
    border: solid black 1px;
    text-indent: 10px;

    font-size: 125%;
}

#opciones {
    margin: 30px 0 30px 700px;
    padding: 0 10px 130px 15px;
    width: 300px;
    height: 100px;
    border: dashed black 2px;
    background-color: #ffffff;
}

.liOp {
    margin: 10px;
    margin-left: 30px;
    font-size: 125%;
}

h2 {
    font-size: 150%;
    margin-left: 30px
}

h4 {
    font-size: 125%;
    margin: 0;
    margin-left: 20px;
}

.btnMT {
    margin-left: 90px;
    margin-bottom: 20px;
    width: 40%;
    height: 30px;
    font-size: 105%;
}

.resumen{
    max-width: 300px;
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.titulo {
    max-width: 300px;
    max-height: 50px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}