#coffee {
    float: right;
    margin-right: 100px;
    width: 800px;
    height: 800px;
    position: relative;
    bottom: 150px;
}


h1 {
    font-size: 500%;
    margin-left: 100px;
    margin-bottom: 25px;

}

p {
    margin-left: 150px;
    width: 500px;
    font-size: 175%;
    text-align: justify;
}

ul {
    float: left;
    list-style-type: none;
}