form {
    width: 100%;
}

.btnFuncion {
    font-size: 150%;
    padding: 0;
    border: solid black 2px;
    width: 200px;
    height: 50px;
}

.btnFuncion:hover {

    background-color: black;
    color: white;
    text-decoration: underline;
}
