<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <!--Se añaden las rutas de los archivos a utilizar-->

    <add name="Grupo4Conn"
      connectionString="Data Source=172.16.202.24;Initial Catalog=BD_Grupo4;Persist Security Info=True;User ID=Grupo4;Password=thecoffeeplace"/>
    <add name="filePathFaqs" connectionString="C:\\Users\\Admin\\Documents\\Grupo-4-PI-Bases-Inge\\TheCoffeePlace\\TheCoffeePlace\\App_Code\\FAQs.txt"/>
    <add name="filePathNumCat" connectionString="C:\\Users\\Admin\\Documents\\Grupo-4-PI-Bases-Inge\\TheCoffeePlace\\TheCoffeePlace\\App_Code\\NumCat.txt"/>


  </connectionStrings>
</configuration>