<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <add name="Grupo4Conn" connectionString="Data Source=172.16.202.24;Initial Catalog=BD_Grupo4;Persist Security Info=True;User ID=Grupo4;Password=thecoffeeplace"/>
  </connectionStrings>
</configuration>