/******************** NAV ********************/
.img_Nav_bar {
    height: 60px;
}

.navbar-right {
    font-size: 20px;
    padding-top: 5px;
}

.navbar-default .navbar-nav li a:hover {
    background-color: #869E8F;
    color: #004742;
}

.navbar-default .navbar-nav li a {
    color: white;
    border-radius: 5px;
}

.navbar {
    background-color: #004742;
}

/******************** BODY ********************/

.body-content {
    background-color: #EBEBEB;
}

#txtResumen {
    width: 500px;
    height: 250px;
}

#txtTitulo {
    width: 700px;
}

#slctAutor {
    width: 300px;
    margin-top: 5px;
}

.btn {
    background-color: #54887A;
    color: white;
}

.btn-primary {
    background-color: #51453B;
    border: none;
    box-shadow: 2px 2px 5px #999;
    color: white;
    border-radius: 5px;
    width: 75px;
    height: 40px;
}

#txtFecha {
    width: 140px;
    background-color: #54887A;
    color: white;
    padding-top: 0px;
    padding-left: 10px;
}

.form-group {
    padding-left: 5px;
}

.btn.btn-info {
    background-color: #54887A;
}

.field-validation-error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	display: block;
}

#articulosPorRevisar > tbody > tr:hover {
    background-color: black;
}

.clickable-row {
    cursor:pointer;
}

.badge {
	position: absolute;
	top: 0px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background-color: indianred;
	color: white;
}

.notificacion {
	border: lightgrey;
	background-color: #9197a0;
	border-radius: 6px;
	width: 100%;
	height: 50px;
	vertical-align: central;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-right: 3px;
	padding-left: 3px;
}