@page
@model LaCafeteria.Pages.BuscarModel
@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="text-center">Buscar artículos</h2>

<br/>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <h4 class="text-nowrap" >Buscar por:</h4>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-info">Tópicos</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="topics">Tópicos</a></li>
                    <li><a href="#" id="titles">Títulos</a></li>
                    <li><a href="#" id="authors">Autores</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="input-group" style="display: none">
                <input type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-info" type="button">Aceptar</button>
                </span>
            </div>
            <div class="input-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-info">Seleccionar tópico</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Quimica</a></li>
                        <li><a href="#">Biologia</a></li>
                        <li><a href="#">Fisica</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<br/>


<div class="container">

    <div class="row">
        <div class="col-md-1" />
        <div class="col-md-3">
            <div class="btn-group" role="group" aria-label="...">
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." name="type">
                    Cortos
                </span>
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." name="type">
                    Largos
                </span>
                <span class="input-group-addon">
                    <input type="radio" aria-label="..." name="type" checked="checked">
                    Ambos
                </span>
            </div>
        </div>
    </div>

 </div>

<hr>

<div class="container" id="searchResults">

    <div class="row">

        <div class="col-md-3">
            <p>Cantidad de resultados: </p>
        </div>
        
        <div class="col-md-6">
            <p>Resultados de la búsqueda: </p>
        </div>
    </div>
</div>
    
