@page
@model LaCafeteria.Pages.EscribirArticuloModel
@{
	ViewData["Title"] = "EscribirArticulo";
}

<h2>Escribir Articulo</h2>
<div id="notification" class="notification">
	Notificacion
</div>
<form method="post">
	<div class="form-group">
		<label for="txtTitulo">Título del artículo</label>
		<input id="txtTitulo" type="text" class="form-control" asp-for="articulo.titulo" />
		<span asp-validation-for="articulo.titulo"></span>
		<span asp-validation-for="listaMiembrosAutores"></span>
	</div>
	<div class="form-group">
		<label for="slctAutor">Autor(es)</label>
		<select id="slctAutor" class="form-control">
			@foreach (var autor in Model.listaMiembros)
			{
				<option value="@autor.usernamePK">@autor.GetNombreCompleto()</option>
			}
		</select>
		<input type="button" class="btn" value="Agregar autor" onclick="agregarAutor()" />
		<span asp-validation-summary="All"></span>
		<div id="autores">
		</div>
	</div>
	<div class="form-group">
		<label for="txtResumen">Resumen del artículo</label>
		<textarea id="txtResumen" rows="2" cols="20" class="form-control" asp-for="articulo.resumen" required></textarea>
	</div>
	<div class="form-group">
		<label for="txtFecha">Fecha de publicación</label>
		<input id="txtFecha" type="date" class="form-control" asp-for="articulo.fechaPublicacion" required />
	</div>

	<div class="container">
		<div class="row">
			<div class="form-group col-lg-8">
				<label for="txtContenido">Artículo</label>
				<span asp-validation-for="articulo.contenido"></span>
				<span asp-validation-for="listaMiembrosAutores" />
				<span asp-validation-for="listaTopicosArticulo" />
				<textarea id="txtContenido" asp-for="articulo.contenido"></textarea>
			</div>
			<div class="col-lg-4">
				<div class="btn-group" style="margin-top: 25px">
					<button type="button" class="btn btn-info">Seleccione tópicos</button>
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						@for (int topicoActual = 0; topicoActual < Model.listaTopicos.Count; ++topicoActual)
						{
							<li><input type="checkbox" name="listaTopicosArticulo" value="@Model.listaTopicos[topicoActual].nombre"> @Model.listaTopicos[topicoActual].nombre</li>
						}
					</ul>
					<span asp-validation-for="listaTopicosArticulo"></span>
				</div>
			</div>
		</div>
	</div>
	<input id="btnGuardar" name="btnGuardar" type="submit" value="Guardar" class="btn-primary" />
</form>
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script>
	tinymce.init({
		selector: '#txtContenido',
		paste_data_images: true,
		automatic_uploads: false,
        convert_urls: false,
        height: 500,
		plugins: [
			"advlist autolink lists link image charmap print preview anchor",
			"searchreplace visualblocks code fullscreen",
			"insertdatetime media table paste preview imagetools wordcount"
		],
		toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview",
		content_css: '//www.tiny.cloud/css/codepen.min.css'
	});
	tinymce.activeEditor.execCommand('mcePreview');
</script>
<script>
	var miembrosAutores = new Array();

	function agregarAutor() {
		let select = document.getElementById('slctAutor');
		let option = select[select.selectedIndex];

		if (!miembrosAutores.includes(option.value)) {
			const div = document.createElement('div');
			const button = document.createElement('input');
			button.type = "button";
			button.value = "x";
			button.toDelete = option.value;
			button.onclick = function () {
				miembrosAutores.splice(miembrosAutores.indexOf(this.toDelete), 1);
				document.getElementById('autores').removeChild(this.parentNode);
			};
			miembrosAutores.push(option.value)
			div.innerHTML = '<label>' + option.text + '</label><input type="hidden" name="listaMiembrosAutores" value=\"' + option.value + '\"/>';
			document.getElementById('autores').appendChild(div);
			div.appendChild(button);
		}
	}
</script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
	$("#notification").fadeOut(5000);
</script>
