@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Bienvenidos a la comunidad de práctica La Cafetería</h1>

<h3>Desarrolladores:</h3>
<ul>
    <li>Juan Jose Herrera</li>
    <li>Marco Mora</li>
    <li>Guillermo Ramírez</li>
    <li>Silvio Salazar</li>
    <li>Sheng Qi Wang</li>
</ul>


