@page
@using LaCafeteria.Utilidades;
@model LaCafeteria.Pages.ModificarPerfilModel
@{
    ViewData["Title"] = "Modificar el Perfil";
}

<h2>Modificar el Perfil</h2>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="txtHobbies">Hobbies</label>
                    <textarea id="txtHobbies" class="form-control" asp-for="miembro.hobbies"></textarea>
                </div>

                <div class="form-group">
                    <label for="txtHobbies">Habilidades</label>
                    <textarea id="txtHabilidades" class="form-control" asp-for="miembro.habilidades"></textarea>
                </div>

                <div class="form-group">
                    <label for="txtInfoLaboral">Información laboral</label>
                    <textarea id="txtInfoLaboral" class="form-control" asp-for="miembro.informacionLaboral"></textarea>
                </div>

                <div class="btn-group form-group col-lg-offset-4">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Idiomas que maneja <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="background-color:lightgray;color:black">
                        @for (int idiomaActual = 0; idiomaActual < Model.listaIdiomasElegidos.Count; ++idiomaActual)
                        {
                            int contador = 0;
                            bool encontrado = false;
                            while (!encontrado && contador < Model.listaIdiomasDisponibles.Count)
                            {
                                if (Model.listaIdiomasDisponibles[idiomaActual] == Model.listaIdiomasElegidos[contador])
                                {
                                    encontrado = true;

                                    <li style="margin: 5px 5px" class="text-primary"><input type="checkbox" name="listaIdiomas" value="@Model.listaIdiomasDisponibles[idiomaActual]" checked="checked"> @Model.listaIdiomasDisponibles[idiomaActual]</li>
                                }

                                contador++;
                            }

                            if (!encontrado)
                            {
                                <li style="margin: 5px 5px" class="text-primary"><input type="checkbox" name="listaIdiomas" value="@Model.listaIdiomasDisponibles[idiomaActual]"> @Model.listaIdiomasDisponibles[idiomaActual]</li>
                            }

                        }


                    </ul>
                </div>
            </div>
        </div>
        <form method="post">
            <button class="btn-primary" asp-page-handler="actualizar" type="submit">
                Actualizar Perfil
            </button>
        </form>
    </form>
</div>

