@page
@using LaCafeteria.Utilidades
@model LaCafeteria.Pages.SolicitudSubirRangoModel
@{
    ViewData["Title"] = "SolicitudSubirRango";
}


<h3 class="text-center">Solicitar Subir de Rango</h3>
@if ( AvisosInmediatos.Existe(Model, "exitoSolicitud") )
{
    @Html.Raw(AvisosInmediatos.Get(Model, "exitoSolicitud"));
}
@if ( AvisosInmediatos.Existe(Model, "fracasoSolicitud") )
{
    @Html.Raw(AvisosInmediatos.Get(Model, "fracasoSolicitud"));
}

@if ( AvisosInmediatos.Existe(Model, "rangoInvalido") )
{
    @Html.Raw(AvisosInmediatos.Get(Model, "rangoInvalido"));
}
<form method="post">

    <p style="text-align:center">
        <input class="actionButtons" type="submit" value="Solicitar" asp-page-handler="solicitar" />
    </p>

</form>

