@page 
@model LaCafeteria.Pages.VerArticuloLargoModel
@{
    ViewData["Title"] = "VerArticuloLargo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h3 class="text-center text-primary">Calificar:</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-3">
            <a href='/VerResumen/@Model.idArticuloPK/Largo' class="btn btn-lg btn-info text-center" style="position: static">Volver a ver resumen</a>
        </div>
        <div class="col-md-6"></div>

        @if (Model.calificacion == 10)
        {
                <div class="col-md-1">
                    <form method="post" class="form-inline">
                        <button type="submit" class="btn btn-info btn-lg" id="like" asp-page-handler="gustar">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <div class="col-md-1">
                    <form method="post" class="form-inline">
                        <button type="submit" class="btn btn-info btn-lg" id="same" asp-page-handler="igual" style="position: relative; right: 40px;">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <div class="col-md-1">
                    <form method="post" class="form-inline">
                        <button type="submit" class="btn btn-info btn-lg" id="dislike" asp-page-handler="disgustar" style="position: relative; right: 80px;">
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
        }
        else
        {
            <div class="col-md-3">
                @if (Model.calificacion == 1)
                {
                    <button type="button" class="btn btn-success btn-lg" id="like" style="background-color: chartreuse;" disabled>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-info btn-lg" id="like" disabled>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                }

                @if (Model.calificacion == 0)
                {
                    <button type="button" class="btn btn-warning btn-lg" id="same" style="background-color: orange;" disabled>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-info btn-lg" id="same" disabled>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                }
                @if (Model.calificacion == -1)
                {
                    <button type="button" class="btn btn-danger btn-lg" id="dislike" style="background-color: darkred;" disabled>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-info btn-lg" id="dislike" disabled>
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </button>
                }
            </div>
        }

    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <p id="textLike" style="visibility: hidden; position: relative; top: 10px" class="text-center text-primary">Me gusta<p>
            <p id="textSame" style="visibility: hidden; position: relative; bottom: 20px" class="text-center text-primary">Nulo<p>
            <p id="textDislike" style="visibility: hidden; position: relative; bottom: 50px" class="text-center text-primary">No me gusta<p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><embed src="~/ArticulosPDF/@Model.articuloPDF" type="application/pdf" style="width:100%; height: 800px" /></div>
        <div class="col-md-1"></div>
    </div>
</div>

<script src="~/js/VerArticuloLargo.js" defer></script>
